# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore collected static files
# staticfiles/

# Ignore local database
db.sqlite3

# Ignore environment variables file (if you use one)
.env

# Ignore VS Code settings
.vscode/

# Ignore compiled files
*.log
